 
<div id="wrapper" style="  background-color: #ffffff;">
<div id="header">

    <div id="Menu_Top">
  
      <div class="rtl">
  
        <ul>
          <li>
            <button type="reset"  (click)="signout()"> <span class="mr-3" routerLink=" " style=" cursor: pointer; background-color: none; border: none;"> خروج </span></button>
        </li>
        <li>
            <a> <span class="mr-3" routerLink="/admin" style=" cursor: pointer;">ادمین</span></a>
        </li>
        <li><a   routerLink="/home">صفحه اصلی</a></li>
        <li><a   routerLink="/Home">پیوند ها</a></li>
        <li><a   routerLink="/Home">آب و هوا</a></li>
        <li><a   routerLink="/Home">اوقات شرعی</a></li>
        <li><a   routerLink="/Home">تماس با ما</a></li>
        </ul>
  
      </div>
  
      <div class="ltr">
  
        <ul>
          <li>
            <div id="clockbox" style="float:left; padding:0 5px 0 0;"></div>
          </li>
        </ul>
  
      </div>
    </div>
    <div id="Main_Header" class="main-header">
      <div class="col-lg-8 col-md-3 col-sm-4 col-xs-12">
        <h1><a class="header-img" href="/">
            <img src="/assets/images/header.png" alt="isna header">
          </a></h1>
      </div>
    </div>
    <div id="Main_Menu">
      <div class="rtl">
        <ul>
          <li><a   routerLink="/Home">سیاسی</a></li>
          <li><a   routerLink="/Home">فرهنگی</a></li>
          <li><a   routerLink="/Home">اجتماعی</a></li>
          <li><a   routerLink="/Home">اقتصادی</a></li>
          <li><a   routerLink="/Home">علمی</a></li>
          <li><a   routerLink="/Home">ورزشی</a></li>
          <li><a   routerLink="/Home">بین الملل</a></li>
          <li><a   routerLink="/Home">چند رسانه ای</a></li>
        </ul>
      </div>
    </div>
  </div>
  </div>
   
  