<body>

    <div id="wrapper">

        <div id="header">

            <div id="Menu_Top">

                <div class="rtl">

                    <ul>
                         
                        <li>
                            <button type="reset"  (click)="signout()"> <span class="mr-3" routerLink=" " style=" cursor: pointer;"> خروج </span></button>
                        </li>
                        <li>
                            <a> <span class="mr-3" routerLink="/admin" style=" cursor: pointer;">ادمین</span></a>
                        </li>
                        <li><a   routerLink="/Home">صفحه اصلی</a></li>
                        <li><a   routerLink="/Home">پیوند ها</a></li>
                        <li><a   routerLink="/Home">آب و هوا</a></li>
                        <li><a   routerLink="/Home">اوقات شرعی</a></li>
                        <li><a   routerLink="/Home">تماس با ما</a></li>
                    </ul>

                </div>

                <div class="ltr">

                    <ul>
                        <li>
                            <div id="clockbox" style="float:left; padding:0 5px 0 0;"></div>
                        </li>
                    </ul>

                </div>
            </div>

            <div id="Main_Header" class="main-header">
                <div class="">
                    <h1>
                        <a class="header-img" href="/">
                            <img src="/assets/images/header.png" alt="isna header">
                        </a>
                    </h1>
                </div>
            </div>

            <div id="Main_Menu">

                <div class="rtl">
                    <ul>
                        <li><a   routerLink="/Home">سیاسی</a></li>
                        <li><a   routerLink="/Home">فرهنگی</a></li>
                        <li><a   routerLink="/Home">اجتماعی</a></li>
                        <li><a   routerLink="/Home">اقتصادی</a></li>
                        <li><a   routerLink="/Home">علمی</a></li>
                        <li><a   routerLink="/Home">ورزشی</a></li>
                        <li><a   routerLink="/Home">بین الملل</a></li>
                        <li><a   routerLink="/Home">چند رسانه ای</a></li>
                    </ul>
                </div>
            </div>
        </div>
 
        <div id="Main">
            <div class="rtl bazdid">
                <div class="sidebar">
                    <div class="Title_Sidebar"> پربازدید ها </div>
                    <div class="Content_Sidebar">
                        <ul>
                            <li><a   routerLink="/Home">جزئیات پرونده 7000 میلیارد تومانی سه صراف مرتبط
                    با دولت قبل</a></li>
                            <li><a   routerLink="/Home">البسه عجیب و غریب مردمی در بولیوی + تصاویر </a></li>
                            <li><a   routerLink="/Home">عجیب‌ترین اسامی در شناسنامه‌های ایرانی/ از گشنه
                    و پرتغال تا قابلمه و بستنی</a></li>
                            <li><a   routerLink="/Home">جزئیات پرونده 7000 میلیارد تومانی سه صراف مرتبط
                    با دولت قبل</a></li>
                            <li><a   routerLink="/Home">البسه عجیب و غریب مردمی در بولیوی + تصاویر </a></li>
                            <li><a   routerLink="/Home">عجیب‌ترین اسامی در شناسنامه‌های ایرانی/ از گشنه
                    و پرتغال تا قابلمه و بستنی</a></li>
                        </ul>
                    </div>
                </div>
                <div class="ads300-100">
                    <a   routerLink="/Home"><img src="/assets/images/tab2.gif"></a>
                </div>
                <div class="ads300-100">
                    <a   routerLink="/Home"><img src="/assets/images/tab.gif"></a>
                </div>
                <div class="sidebar">
                    <div class="Title_Sidebar"> پربحث ترین </div>
                    <div class="Content_Sidebar">
                        <ul>
                            <li><a   routerLink="/Home">قصه و غصه های ناتمام سعیدعبدولی درکشتی (۱۵۷ نظر)</a></li>
                            <li><a   routerLink="/Home">قتل هولناک پايان 5 ماه رابطه نامشروع (۱۴۸ نظر)</a></li>
                            <li><a   routerLink="/Home">با چه مجوزی زمین‌های نهادهای نظامی و باغات بکر برج می‌شوند؟! (۹۳ نظر)</a></li>
                            <li><a   routerLink="/Home">اسقف قربانی دادن شما برای یک هدف مشخص چیست؟ (۶۱ نظر)</a></li>
                            <li><a   routerLink="/Home">شادی جالب بازیکنان والیبال پس از قهرمانی (۵۱ نظر)</a></li>
                            <li><a   routerLink="/Home">کلیه‌ام را می‌فروشم تا «سیما» درمان شود (۵۰ نظر)</a></li>
                            <li><a   routerLink="/Home">ممنوعیت استخدامی دیگر برای دختران مجرد (۴۳ نظر)</a></li>
                        </ul>
                    </div>

                </div>

                <div class="ads300-100 text-center">
                    <a   routerLink="/Home"><img src="/assets/images/tab3.gif"></a>
                </div>

                <div class="sidebar">
                    <div class="Title_Sidebar"> وبگردی </div>
                    <div class="Content_Sidebar">
                        <ul>
                            <li><a   routerLink="/Home">بلیط هواپیم </a></li>
                            <li><a   routerLink="/Home"> بلیط اتوبوس</a></li>
                            <li><a   routerLink="/Home"> قیمت پروفیل سبک</a></li>
                            <li><a   routerLink="/Home">  درگاه پرداخت</a></li>
                            <li><a   routerLink="/Home"> سفارش بک لینک</a></li>
                            <li><a   routerLink="/Home"> بیمه سامان</a></li>
                            <li><a   routerLink="/Home">کدام کشور چه واکسنی می‌زند؟</a></li>

                        </ul>
                    </div>

                </div>
                <div class="ads300-100">
                    <a   routerLink="/Home"><img width="300px" src="/assets/images/tab5.gif"></a>
                </div>
            </div>

            <div class="ltr">

                <!----------------------------->

                <section id="box2" class="box card no-header cols cols-3 cols-equal _red" data-conf="{&quot;id&quot;:2}">
                    <div>
                        <ul>
                            <li class="coverage">
                                <figure>
                                    <a target="_blank" rel=""   routerLink="/Home" title="">
                                        <img src="/assets/images/e2.jpg" alt="غرش موشک های بومی مرصاد ۱۶ در آسمان اقتدار دفاعی ایران" loading="lazy">
                                    </a>
                                </figure>
                                <div class="desc">
                                    <h3><a   routerLink="/Home" target="_blank">غرش موشک های بومی مرصاد ۱۶ در آسمان اقتدار دفاعی ایران</a>

                                    </h3>
                                    <p>در آستانه دهم شهریور روز پدافند هوایی ارتش، نسل جدید…
                                    </p>
                                </div>
                            </li>
                            <li class="text">
                                <figure>
                                    <a target="_blank" rel=""   routerLink="/Home" title="">
                                        <img src="/assets/images/e3.jpg" alt="۶۴۳ فوتی جدید کرونا در کشور / ۷۸۷۹ تن در شرایط شدید بیماری" loading="lazy">
                                    </a>
                                </figure>
                                <div class="desc">
                                    <h3><a   routerLink="/Home" target="_blank">۶۴۳ فوتی جدید کرونا در کشور / ۷۸۷۹ تن در شرایط شدید بیماری</a>

                                    </h3>
                                    <p>بنابر اعلام وزارت بهداشت، در شبانه روز گذشته متاسفانه…
                                    </p>
                                </div>
                            </li>
                            <li class="received">
                                <figure>
                                    <a target="_blank" rel="" href="/news/1400060906693/نماینده-محوری-و-ترجیح-سیاست-پژوهی-بر-سیاست-زدگی-در-دستور-کار" title="">
                                        <img src="https://cdn.isna.ir/d/2021/08/31/2/62019778.jpg" alt="نماینده محوری و ترجیح سیاست پژوهی بر سیاست زدگی در دستور کار مرکز پژوهش‌ها قرار گیرد" loading="lazy">
                                    </a>
                                </figure>
                                <div class="desc">
                                    <h4><a target="_blank" rel="" href="/news/1400060906693/نماینده-محوری-و-ترجیح-سیاست-پژوهی-بر-سیاست-زدگی-در-دستور-کار">
                        نگاهداری:
  
                      </a></h4>
                                    <h3><a href="/news/1400060906693/%D9%86%D9%85%D8%A7%DB%8C%D9%86%D8%AF%D9%87-%D9%85%D8%AD%D9%88%D8%B1%DB%8C-%D9%88-%D8%AA%D8%B1%D8%AC%DB%8C%D8%AD-%D8%B3%DB%8C%D8%A7%D8%B3%D8%AA-%D9%BE%DA%98%D9%88%D9%87%DB%8C-%D8%A8%D8%B1-%D8%B3%DB%8C%D8%A7%D8%B3%D8%AA-%D8%B2%D8%AF%DA%AF%DB%8C-%D8%AF%D8%B1-%D8%AF%D8%B3%D8%AA%D9%88%D8%B1-%DA%A9%D8%A7%D8%B1"
                                            target="_blank">نماینده محوری و ترجیح سیاست پژوهی بر سیاست زدگی در دستور کار مرکز پژوهش‌ها قرار
                        گیرد</a>

                                    </h3>
                                    <p>سرپرست مرکز پژوهش های مجلس اصلی ترین دغدغه خود را «آرامش…
                                    </p>
                                </div>
                            </li>
                        </ul>
                    </div>

                </section>


                <div id="news">
                    <!--Start Title_News-->
                    <div id="title_news">
                        <div class="rtl">
                            آخرین اخبار
                            <div id="update">
                                به روز رسانی : 1 ساعت پیش
                            </div>
                        </div>
                    </div>
                    <div id="content_news">
                        <!---------------------------------------------------------------->
                        <div class="text-center mt-4 ml-5" *ngIf="service.list.length == 0 ">
                            <h4 class="pr-4">هیج خبری وجود ندارد</h4>
                        </div>
                        <app-home-list></app-home-list>
                        <!-------------------------------------------------------------------->



                    </div>
                    <a   routerLink="/Home">
                        <div id="nav_pages">مطالب قدیمی تر</div>
                    </a>
                </div>
            </div>

        </div>


        <div id="footer">
            <div class="rtl">
                <div id="Menu_Footer">
                    <ul>
                        <li><a   routerLink="/Home">صفحه اصلی</a></li>
                        <li><a   routerLink="/Home">آرشیو</a></li>
                        <li><a   routerLink="/Home">پیوند ها</a></li>
                        <li><a   routerLink="/Home">آب و هوا</a></li>
                        <li><a   routerLink="/Home">اوقات شرعی</a></li>
                        <li><a   routerLink="/Home">تماس با ما</a></li>
                    </ul>
                </div>
                <div id="Copyright">
                    &copy; کليه حقوق اين سايت متعلق به سایت خبری ایمان بوده و استفاده از مطالب آن با ذکر منبع بلا مانع است
                </div>
            </div>

            <div class="ltr">
                <figure id="canvas"></figure>
                <script src="/assets/lib/svg.min.js" type="text/javascript" charset="utf-8"></script>
                <script src="/assets/lib/svg.easing.min.js" type="text/javascript" charset="utf-8"></script>
                <script src="/assets/lib/svg.clock.js" type="text/javascript" charset="utf-8"></script>
                <script type="text/javascript" charset="utf-8">
                    SVG('canvas').clock("100%").start()
                </script>
            </div>

        </div>
    </div>

</body>